# Vim
*.swp
*.swo

# Visual Studio Code
.vscode/
*.code-workspace
*.env

# colcon
build/
install/
log/

# Clangd
.cache/

# profiling
profiling_output/

# Python
srv/_*.py
*.pyc
__pycache__

# Ignore generated docs
*.dox
.mkdoxy/
*.wikidoc
site/
# eclipse stuff
.project
.cproject

# qcreator stuff
CMakeLists.txt.user

# pre-commit
node_modules/
