### Site metadata ###

site_name: Nebula
site_description: Nebula Multi-Sensor Driver Framework

repo_url: https://github.com/tier4/nebula
docs_dir: docs
copyright: Copyright &copy; 2023 TIER IV, Inc.

### Theme settings ###
theme:
  name: material
  language: en
  # logo: docs/logo.png
  # favicon: docs/favicon.png
  features:
    - navigation.tabs
    - navigation.indexes
    - navigation.top
    - search.suggest
    - search.highlight
    - content.math.jax
  palette:
    - scheme: default
      primary: white
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - scheme: slate
      primary: grey
      toggle:
        icon: material/weather-night
        name: Switch to light mode
use_directory_urls: true

### Navigation ###
nav:
  - Home: index.md
  - Supported sensors: supported_sensors.md
  - Installation: installation.md
  - Usage: usage.md
  - Parameters:
      - parameters.md
      - Hesai:
          - parameters/vendors/hesai/common.md
          - Pandar40P: parameters/vendors/hesai/pandar40p.md
          - Pandar64: parameters/vendors/hesai/pandar64.md
          - OT128: parameters/vendors/hesai/ot128.md
          - QT64: parameters/vendors/hesai/qt64.md
          - QT128: parameters/vendors/hesai/qt128.md
          - AT128: parameters/vendors/hesai/at128.md
          - XT16: parameters/vendors/hesai/xt16.md
          - XT32: parameters/vendors/hesai/xt32.md
          - XT32M: parameters/vendors/hesai/xt32m.md
      - Velodyne:
          - parameters/vendors/velodyne/common.md
          - VLP16: parameters/vendors/velodyne/vlp16.md
          - VLP32: parameters/vendors/velodyne/vlp32.md
          - VLS128: parameters/vendors/velodyne/vls128.md
      - Robosense:
          - parameters/vendors/robosense/common.md
          - BPearl: parameters/vendors/robosense/bpearl.md
          - Helios: parameters/vendors/robosense/helios.md
      - Continental:
          - parameters/vendors/continental/common.md
          - ARS548: parameters/vendors/continental/ars548.md
          - SRR520: parameters/vendors/continental/srr520.md
  - Point cloud types: point_types.md
  - Design: design.md
  - Tutorials: tutorials.md
  - Contributing: contribute.md
  - API reference:
      - api_reference.md
      - Core:
          - Links: core/links.md
          - Classes:
              - Class List: core/annotated.md
              - Class Index: core/classes.md
              - Class Hierarchy: core/hierarchy.md
              - Class Members: core/class_members.md
              - Class Member Functions: core/class_member_functions.md
              - Class Member Variables: core/class_member_variables.md
              - Class Member Typedefs: core/class_member_typedefs.md
              - Class Member Enumerations: core/class_member_enums.md
          - Namespaces:
              - Namespace List: core/namespaces.md
              - Namespace Members: core/namespace_members.md
              - Namespace Member Functions: core/namespace_member_functions.md
              - Namespace Member Variables: core/namespace_member_variables.md
              - Namespace Member Typedefs: core/namespace_member_typedefs.md
              - Namespace Member Enumerations: core/namespace_member_enums.md
          - Functions: core/functions.md
          - Variables: core/variables.md
          - Macros: core/macros.md
          - Files: core/files.md
      - Hesai:
          - Links: hesai/links.md
          - Classes:
              - Class List: hesai/annotated.md
              - Class Index: hesai/classes.md
              - Class Hierarchy: hesai/hierarchy.md
              - Class Members: hesai/class_members.md
              - Class Member Functions: hesai/class_member_functions.md
              - Class Member Variables: hesai/class_member_variables.md
              - Class Member Typedefs: hesai/class_member_typedefs.md
              - Class Member Enumerations: hesai/class_member_enums.md
          - Namespaces:
              - Namespace List: hesai/namespaces.md
              - Namespace Members: hesai/namespace_members.md
              - Namespace Member Functions: hesai/namespace_member_functions.md
              - Namespace Member Variables: hesai/namespace_member_variables.md
              - Namespace Member Typedefs: hesai/namespace_member_typedefs.md
              - Namespace Member Enumerations: hesai/namespace_member_enums.md
          - Functions: hesai/functions.md
          - Variables: hesai/variables.md
          - Macros: hesai/macros.md
          - Files: hesai/files.md
      - Velodyne:
          - Links: velodyne/links.md
          - Classes:
              - Class List: velodyne/annotated.md
              - Class Index: velodyne/classes.md
              - Class Hierarchy: velodyne/hierarchy.md
              - Class Members: velodyne/class_members.md
              - Class Member Functions: velodyne/class_member_functions.md
              - Class Member Variables: velodyne/class_member_variables.md
              - Class Member Typedefs: velodyne/class_member_typedefs.md
              - Class Member Enumerations: velodyne/class_member_enums.md
          - Namespaces:
              - Namespace List: velodyne/namespaces.md
              - Namespace Members: velodyne/namespace_members.md
              - Namespace Member Functions: velodyne/namespace_member_functions.md
              - Namespace Member Variables: velodyne/namespace_member_variables.md
              - Namespace Member Typedefs: velodyne/namespace_member_typedefs.md
              - Namespace Member Enumerations: velodyne/namespace_member_enums.md
          - Functions: velodyne/functions.md
          - Variables: velodyne/variables.md
          - Macros: velodyne/macros.md
          - Files: velodyne/files.md
      - Robosense:
          - Links: robosense/links.md
          - Classes:
              - Class List: robosense/annotated.md
              - Class Index: robosense/classes.md
              - Class Hierarchy: robosense/hierarchy.md
              - Class Members: robosense/class_members.md
              - Class Member Functions: robosense/class_member_functions.md
              - Class Member Variables: robosense/class_member_variables.md
              - Class Member Typedefs: robosense/class_member_typedefs.md
              - Class Member Enumerations: robosense/class_member_enums.md
          - Namespaces:
              - Namespace List: robosense/namespaces.md
              - Namespace Members: robosense/namespace_members.md
              - Namespace Member Functions: robosense/namespace_member_functions.md
              - Namespace Member Variables: robosense/namespace_member_variables.md
              - Namespace Member Typedefs: robosense/namespace_member_typedefs.md
              - Namespace Member Enumerations: robosense/namespace_member_enums.md
          - Functions: robosense/functions.md
          - Variables: robosense/variables.md
          - Macros: robosense/macros.md
          - Files: robosense/files.md
      - Continental:
          - Links: continental/links.md
          - Classes:
              - Class List: continental/annotated.md
              - Class Index: continental/classes.md
              - Class Hierarchy: continental/hierarchy.md
              - Class Members: continental/class_members.md
              - Class Member Functions: continental/class_member_functions.md
              - Class Member Variables: continental/class_member_variables.md
              - Class Member Typedefs: continental/class_member_typedefs.md
              - Class Member Enumerations: continental/class_member_enums.md
          - Namespaces:
              - Namespace List: continental/namespaces.md
              - Namespace Members: continental/namespace_members.md
              - Namespace Member Functions: continental/namespace_member_functions.md
              - Namespace Member Variables: continental/namespace_member_variables.md
              - Namespace Member Typedefs: continental/namespace_member_typedefs.md
              - Namespace Member Enumerations: continental/namespace_member_enums.md
          - Functions: continental/functions.md
          - Variables: continental/variables.md
          - Macros: continental/macros.md
          - Files: continental/files.md

### Extra Settings ###
plugins:
  - drawio
  - macros:
      module_name: mkdocs_macros
      render_by_default: false
      force_render_paths: |
        *
        !*_source.md
        !class*.md
  - mkdoxy:
      projects:
        core:
          src-dirs: >
            src/nebula_core/nebula_core_common/include
            src/nebula_core/nebula_core_decoders/include
            src/nebula_core/nebula_core_hw_interfaces/include
            src/nebula_core/nebula_core_ros/include
          full-doc: true
          doxy-cfg:
            FILE_PATTERNS: "*.hpp *.h"
            RECURSIVE: true
            EXTRACT_ALL: true
            INLINE_SOURCES: true
            ENABLE_PREPROCESSING: true
            MACRO_EXPANSION: true
        hesai:
          src-dirs: >
            src/nebula_hesai/nebula_hesai_common/include
            src/nebula_hesai/nebula_hesai_decoders/include
            src/nebula_hesai/nebula_hesai_hw_interfaces/include
            src/nebula_hesai/nebula_hesai/include
          full-doc: true
          doxy-cfg:
            FILE_PATTERNS: "*.hpp *.h"
            RECURSIVE: true
            EXTRACT_ALL: true
            INLINE_SOURCES: true
            ENABLE_PREPROCESSING: true
            MACRO_EXPANSION: true
        velodyne:
          src-dirs: >
            src/nebula_velodyne/nebula_velodyne_common/include
            src/nebula_velodyne/nebula_velodyne_decoders/include
            src/nebula_velodyne/nebula_velodyne_hw_interfaces/include
            src/nebula_velodyne/nebula_velodyne/include
          full-doc: true
          doxy-cfg:
            FILE_PATTERNS: "*.hpp *.h"
            RECURSIVE: true
            EXTRACT_ALL: true
            INLINE_SOURCES: true
            ENABLE_PREPROCESSING: true
            MACRO_EXPANSION: true
        robosense:
          src-dirs: >
            src/nebula_robosense/nebula_robosense_common/include
            src/nebula_robosense/nebula_robosense_decoders/include
            src/nebula_robosense/nebula_robosense_hw_interfaces/include
            src/nebula_robosense/nebula_robosense/include
          full-doc: true
          doxy-cfg:
            FILE_PATTERNS: "*.hpp *.h"
            RECURSIVE: true
            EXTRACT_ALL: true
            INLINE_SOURCES: true
            ENABLE_PREPROCESSING: true
            MACRO_EXPANSION: true
        continental:
          src-dirs: >
            src/nebula_continental/nebula_continental_common/include
            src/nebula_continental/nebula_continental_decoders/include
            src/nebula_continental/nebula_continental_hw_interfaces/include
            src/nebula_continental/nebula_continental/include
          full-doc: true
          doxy-cfg:
            FILE_PATTERNS: "*.hpp *.h"
            RECURSIVE: true
            EXTRACT_ALL: true
            INLINE_SOURCES: true
            ENABLE_PREPROCESSING: true
            MACRO_EXPANSION: true

      save-api: .mkdoxy
      full-doc: true
      debug: false
      ignore-errors: false

  - search:
      lang: en

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - js/mathjax.js
  - js/drawio-reload.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
