### Site metadata ###

site_name: Nebula
site_description: Nebula Multi-Sensor Driver Framework
site_url: https://tier4.github.io/nebula/docs/

repo_url: https://github.com/tier4/nebula
docs_dir: docs
copyright: Copyright &copy; 2023 TIER IV, Inc.

### Theme settings ###
theme:
  name: material
  language: en
  # logo: docs/logo.png
  # favicon: docs/favicon.png
  features:
    - navigation.tabs
    - navigation.indexes
    - navigation.top
    - search.suggest
    - search.highlight
  palette:
    - scheme: default
      primary: white
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - scheme: slate
      primary: grey
      toggle:
        icon: material/weather-night
        name: Switch to light mode
use_directory_urls: true

### Navigation ###
nav:
  - Home: index.md
  - About: about.md
  - Installation: installation.md
  - Launching: usage.md
  - Design: design.md
  - Parameters: parameters.md
  - Point cloud types: point_types.md
  - Supported sensors: supported_sensors.md
  - Tutorials: tutorials.md
  - Contributing: contributing.md
  - Nebula common: nebula_common/links.md
  - Nebula decoders: nebula_decoders/links.md
  - Nebula HW interfaces: nebula_hw_interfaces/links.md
  - Nebula ROS: nebula_ros/links.md

### Extra Settings ###
plugins:
  - mkdoxy:
      projects:
        nebula_common:
          src-dirs: nebula_common/include
          full-doc: True
          doxy-cfg:
            FILE_PATTERNS: "*.hpp *.h"
            RECURSIVE: True
            EXTRACT_ALL: True
            INLINE_SOURCES: True
            ENABLE_PREPROCESSING: True
            MACRO_EXPANSION: True
        nebula_decoders:
          src-dirs: nebula_decoders/include
          full-doc: True
          doxy-cfg:
            FILE_PATTERNS: "*.hpp *.h"
            RECURSIVE: True
            EXTRACT_ALL: True
            INLINE_SOURCES: True
            ENABLE_PREPROCESSING: True
            MACRO_EXPANSION: True
        nebula_hw_interfaces:
          src-dirs: nebula_hw_interfaces/include
          full-doc: True
          doxy-cfg:
            FILE_PATTERNS: "*.hpp *.h"
            RECURSIVE: True
            EXTRACT_ALL: True
            INLINE_SOURCES: True
            ENABLE_PREPROCESSING: True
            MACRO_EXPANSION: True
        nebula_ros:
          src-dirs: nebula_ros/include
          full-doc: True
          doxy-cfg:
            FILE_PATTERNS: "*.hpp *.h"
            RECURSIVE: True
            EXTRACT_ALL: True
            INLINE_SOURCES: True
            ENABLE_PREPROCESSING: True
            MACRO_EXPANSION: True

      save-api: .mkdoxy
      full-doc: True
      debug: False
      ignore-errors: False

  - search:
      lang: en

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
