# cspell: ignore nojekyll
name: documentation
on:
  push:
    branches:
      - develop
      - main
  pull_request:
    types: [closed]
permissions:
  contents: write
  id-token: write
  pages: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event.pull_request.merged == true
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          key: ${{ github.ref }}
          path: .cache
      - uses: astral-sh/setup-uv@v7
      - run: sudo apt update && sudo apt install -y doxygen && uv sync --extra docs
      - run: uv run mkdocs build --site-dir _site
      - run: touch _site/.nojekyll
      - run: |
          chmod -c -R +rX "_site/" | while read line; do
            echo "::warning title=Invalid file permissions automatically fixed::$line"
          done
      - uses: actions/upload-pages-artifact@v3
      - uses: actions/deploy-pages@v4
